@model STPTask.Models.InputModels.EditEmployeeInputModel
@{
    ViewData["Title"] = "Hire";
}

<h1 class="text-center mt-3">Edit employee info</h1>

<form method="post" class="mx-auto w-50">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <hr class=" mt-3 hr2" />
    <div class="d-flex justify-content-between">
        <div class="form-group w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.FirstName" class="font-weight-bold"></label>
            </div>
            <input asp-for="@Model.FirstName" class="form-control" placeholder="First Name..." />
            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
        </div>
        <div class="form-group w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.LastName" class="font-weight-bold"></label>
            </div>
            <input asp-for="@Model.LastName" class="form-control" placeholder="Last Name..." />
            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
        </div>
    </div>

    <div class="d-flex justify-content-between">
        <div class="form-group w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.StartingDate" class="font-weight-bold"></label>
            </div>
            <input asp-for="@Model.StartingDate" class="form-control" placeholder="Starting Date..." />
            <span asp-validation-for="@Model.StartingDate" class="text-danger"></span>
        </div>
        <div class="form-group w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.Salary" class="font-weight-bold"></label>
            </div>
            <input asp-for="@Model.Salary" class="form-control" placeholder="Salary..." />
            <span asp-validation-for="@Model.Salary" class="text-danger"></span>
        </div>
    </div>
    <hr class=" mt-3 hr2" />
    <div class="d-flex justify-content-between">
        <div class="form-group w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.VacantionDays" class="font-weight-bold"></label>
            </div>
            <input asp-for="@Model.VacantionDays" class="form-control" placeholder="Vacantion Days..." />
            <span asp-validation-for="@Model.VacantionDays" class="text-danger"></span>
        </div>
        <div class="form-group w-45">
            <div class="d-flex justify-content-center">
                <label asp-for="@Model.ExperienceLevel" class="font-weight-bold"></label>
            </div>
            <input asp-for="@Model.ExperienceLevel" class="form-control" placeholder="Experience Level..." />
            <span asp-validation-for="@Model.ExperienceLevel" class="text-danger"></span>
        </div>
    </div>
    <div class="d-flex my-3 justify-content-between">
        <button type="submit" class="btn bg-dark text-light font-weight-bold mx-auto">Edit Employee</button>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
